@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body{
    font-family: 'Rubik', sans-serif;
}


.app{
    display: flex;
}
.sidebar{
    width:200px;
    background-color: #365262;
    color: #EBF8FE;
    padding-top:200px;
    padding-left:20px;
    height:100vh;
    
}
.sidebar__items{
    display: flex;
    flex-direction: column;

}
.sidebar__items a{
    color: #EBF8FE;
    font-size:20px;
    margin-bottom:40px;
    text-decoration: none;
}
.sidebar_active{
    text-decoration: underline!important;
}
.tab-nav{
 margin-top:70px;
 margin-bottom:60px;   
}
.tab-nav a{    
    color:#A2A2A2;
    font-size:20px;
    font-weight: 500;
    padding:20px;
    text-decoration: none;
}

.inner-content{
    padding-top:70px;
    padding-left:40px;
}

h1{
    color:#365262;
    font-size:30px;
    font-weight: 500;
}
h2{
    color:#365262;
    font-size:20px;
    font-weight: 500;
}
.tab_active{
    color:#365262!important;
    text-decoration: underline!important;
}